-----------------------------------------------------------------------------------------------
--create DATABASE
CREATE DATABASE QLNHAHANG
GO

USE QLNHAHANG

--create table
CREATE TABLE NHAHANG (
	MaNhaHang smallint identity NOT NULL,
	TenNhaHang nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	DiaChi nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	DienThoai nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	PRIMARY KEY (MaNhaHang)
) ON [PRIMARY]
GO

CREATE TABLE LOAINHANVIEN (
	MaLoaiNhanVien smallint identity NOT NULL ,
	TenLoaiNhanVien nvarchar (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	Luong decimal NOT NULL,
	PRIMARY KEY (MaLoaiNhanVien)
) ON [PRIMARY]
GO

CREATE TABLE NHANVIEN (
	MaNhanVien int identity NOT NULL ,
	MaNhaHang smallint NULL,
	MaLoaiNhanVien smallint NULL,
	Ho nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	Ten nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	CMND nvarchar(10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	DiaChi nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	DienThoai nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	NgayVaoLam smalldatetime NOT NULL,
	TinhTrang nvarchar(1) NOT NULL,
	PRIMARY KEY (MaNhanVien)
) ON [PRIMARY]
GO

CREATE TABLE NGUOIDUNG(
	ID int identity NOT NULL,
	MaNhanVien int NOT NULL,
	TenDangNhap nvarchar(20) NOT NULL,
	MatKhau nvarchar(20) NOT NULL,
	PRIMARY KEY (ID)
) ON [PRIMARY]
GO

CREATE TABLE NHANVIEN_LOG (
	ID int identity NOT NULL , 
	MaNhanVien int NOT NULL ,
	Ngay smallint NOT NULL,
	Thang smallint NOT NULL,
	Nam smallint NOT NULL,
	TinhTrang nvarchar(1) NOT NULL,
	PRIMARY KEY (ID)
) ON [PRIMARY]
GO

CREATE TABLE THONGKENHANVIEN (
	Thang smallint NOT NULL ,
	Nam smallint NOT NULL ,
	MaNhaHang smallint NOT NULL,
	MaLoaiNhanVien smallint NOT NULL,
	SoLuong smallint NOT NULL,
	TongLuong decimal NOT NULL,
	PRIMARY KEY (Thang, Nam)
) ON [PRIMARY]
GO

CREATE TABLE LICH (
	MaNhanVien int NOT NULL ,
	Thu smallint NOT NULL,
	Ca smallint NOT NULL,
	PRIMARY KEY (MaNhanVien, Thu, Ca)
) ON [PRIMARY]
GO

CREATE TABLE KHUVUC (
	MaKhuVuc smallint identity NOT NULL ,
	TenKhuVuc nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
	MaNhaHang smallint NOT NULL,
	GiaBan decimal NOT NULL,
	PRIMARY KEY (MaKhuVuc)
) ON [PRIMARY]
GO

CREATE TABLE THONGTINBAN (
	MaBan int identity NOT NULL ,
	MaKhuVuc smallint NOT NULL ,
	TenBan nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
	SucChua smallint NOT NULL,
	PRIMARY KEY (MaBan)
) ON [PRIMARY]
GO

CREATE TABLE BUOI (
	MaBuoi int identity NOT NULL,
	TenBuoi nvarchar(10),
	PRIMARY KEY (MaBuoi)
)
GO

CREATE TABLE LICHBAN (
	MaLichBan int identity NOT NULL,
	MaBan int NOT NULL,
	NgayDatBan datetime NOT NULL,
	MaBuoi int NOT NULL,
	MaThongTinKhachHang int,
	SoLuong int NOT NULL,
	TinhTrangBan bit,
	PRIMARY KEY (MaLichBan)
) ON [PRIMARY]

CREATE TABLE THONGTINKHACHHANG (
	MaThongTinKhachHang int identity NOT NULL ,
	HoTen nvarchar(50) NULL ,
	CMND nvarchar(10) NOT NULL ,
	DienThoai varchar(50) NULL ,
	PRIMARY KEY (MaThongTinKhachHang)
) ON [PRIMARY]
GO

CREATE TABLE NGUYENLIEU (
	MaNguyenLieu int identity NOT NULL,
	TenNguyenLieu nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
	DonViTinh nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	PRIMARY KEY (MaNguyenLieu)
) ON [PRIMARY]
GO

CREATE TABLE MONAN (
	MaMonAn int identity NOT NULL , 
	TenMonAn nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
	DonGia decimal NOT NULL,
	PRIMARY KEY (MaMonAn)
) ON [PRIMARY]
GO

CREATE TABLE MONAN_NGUYENLIEU (
	MaMonAn int NOT NULL,
	MaNguyenLieu int NOT NULL,
	SoLuong decimal NOT NULL,
	PRIMARY KEY (MaMonAn, MaNguyenLieu)
) ON [PRIMARY]
GO

CREATE TABLE LOAIMONAN (
	MaLoaiMonAn smallint identity NOT NULL ,
	TenLoaiMonAn nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
	PRIMARY KEY (MaLoaiMonAn)
) ON [PRIMARY]
GO

CREATE TABLE PHANLOAIMONAN(
	MaNhaHang smallint NOT NULL,
	MaLoaiMonAn smallint NOT NULL,
	MaMonAn int NOT NULL,
	PRIMARY KEY (MaNhaHang, MaLoaiMonAn, MaMonAn)
) ON [PRIMARY]
GO

CREATE TABLE THONGKETHUNHAP (
	Tuan smallint NOT NULL,
	Thang smallint NOT NULL,
	Nam smallint NOT NULL,
	MaNhaHang smallint NOT NULL,
	MaMonAn int NOT NULL,
	TongSoTien decimal NOT NULL,
	PRIMARY KEY (Tuan, Thang, Nam)
) ON [PRIMARY]
GO

CREATE TABLE THUCDON(
	MaThucDon int identity NOT NULL,
	MaNhaHang smallint NOT NULL,
	NgayApDung smalldatetime NOT NULL,
	PRIMARY KEY (MaThucDon)
) ON [PRIMARY]
GO

CREATE TABLE CHITIETTHUCDON(
	MaChiTietThucDon int identity NOT NULL,
	MaThucDon int NOT NULL,
	MaMonAn int NOT NULL,
	DonGia decimal NOT NULL,
	PRIMARY KEY (MaChiTietThucDon)
) ON [PRIMARY]
GO

CREATE TABLE HOADON (
	MaHoaDon uniqueidentifier NOT NULL ,
	MaLichBan int NOT NULL,
	NgayLapHoaDon smalldatetime NOT NULL,
	ThanhTien decimal,
	DaThanhToan bit,
	MaThongTinBanDat int NOT NULL,
	PRIMARY KEY (MaHoaDon)
) ON [PRIMARY]
GO

CREATE TABLE CHITIETHOADON (
	MaChiTietHoaDon int identity NOT NULL ,
	MaHoaDon uniqueidentifier NOT NULL,
	MaChiTietThucDon int NOT NULL,
	DonGia decimal NOT NULL,
	SoLuong int NOT NULL,
	PRIMARY KEY (MaChiTietHoaDon)
) ON [PRIMARY]
GO

CREATE TABLE KHOHANG (
	MaKhoHang smallint identity NOT NULL,
	TenKhoHang nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS,
	MaNhaHang smallint NOT NULL,
	PRIMARY KEY (MaKhoHang)
) ON [PRIMARY]
GO

CREATE TABLE KHOHANG_NGUYENLIEU(
	MaKhoHang smallint NOT NULL,
	MaNguyenLieu int NOT NULL,
	SoLuongTon decimal NOT NULL,
	SucChua decimal NOT NULL,
	MucChuaToiThieu decimal NOT NULL,
	PRIMARY KEY (MaKhoHang, MaNguyenLieu)
) ON [PRIMARY]
GO

CREATE TABLE THOIDIEMTHANHTOAN (
	MaThoiDiemThanhToan smallint identity NOT NULL,
	ThoiDiemThanhToan nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
	PRIMARY KEY (MaThoiDiemThanhToan)
) ON [PRIMARY]
GO

CREATE TABLE THOIDIEMGUIDS (
	MaThoiDiemGuiDS smallint identity NOT NULL,
	TenThoiDiemGuiDS nvarchar(20) COLLATE SQL_Latin1_General_CP1_CI_AS,
	PRIMARY KEY (MaThoiDiemGuiDS)
) ON [PRIMARY]
GO

CREATE TABLE NHACUNGCAP (
	MaNhaCungCap smallint identity NOT NULL,
	TenNhaCungCap nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS,
	DienThoai nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
	SoTaiKhoan nvarchar(20)  COLLATE SQL_Latin1_General_CP1_CI_AS,
	MaThoiDiemThanhToan smallint NOT NULL,
	MaThoiDiemGuiDS smallint NOT NULL,
	PRIMARY KEY (MaNhaCungCap)
) ON [PRIMARY]
GO

CREATE TABLE NHAHANG_NHACUNGCAP (
	MaNhaHang smallint NOT NULL,
	MaNhaCungCap smallint NOT NULL,
	TinhTrang bit,
	TongNo decimal,
	PRIMARY KEY (MaNhaHang, MaNhaCungCap)
) ON [PRIMARY]
GO

CREATE TABLE NHACUNGCAP_NGUYENLIEU (
	MaNhaCungCap smallint NOT NULL,
	MaNguyenLieu int NOT NULL,
	DonGia decimal NOT NULL,
	PRIMARY KEY (MaNhaCungCap, MaNguyenLieu)
) ON [PRIMARY]
GO

CREATE TABLE THONGTINHANGNHAP(
	MaThongTinHangNhap int identity NOT NULL,
	MaKhoHang smallint NOT NULL,
	NgayGioNhap smalldatetime,
	PRIMARY KEY (MaThongTinHangNhap)
) ON [PRIMARY]
GO

CREATE TABLE CHITIETHANGNHAP (
	MaChiTietHangNhap int identity NOT NULL,
	MaThongTinHangNhap int NOT NULL,
	MaNhaCungCap smallint NOT NULL,
	MaNguyenLieu int NOT NULL,
	DonGia decimal NOT NULL,
	SoLuong decimal NOT NULL,
	TinhTrangGiaoHang bit,
	TinhTrangThanhToan bit,
	PRIMARY KEY (MaChiTietHangNhap)
) ON [PRIMARY]
GO

CREATE TABLE THONGKEHANGNHAP (
	Tuan smallint NOT NULL,
	Thang smallint NOT NULL,
	Nam smallint NOT NULL,
	MaNhaHang smallint NOT NULL,
	MaNguyenLieu int NOT NULL,
	TongSoLuong decimal NOT NULL,
	ChiPhi decimal NOT NULL,
	PRIMARY KEY (Tuan, Thang, Nam)
) ON [PRIMARY]
GO

CREATE TABLE DINHMUCNO (
	ID int identity NOT NULL,
	MaNhaCungCap smallint NOT NULL,
	GiaTriDinhMuc decimal NOT NULL,
	NgayApDung datetime NOT NULL,
	PRIMARY KEY (ID)
) ON [PRIMARY]
GO

CREATE TABLE QUIDINH (
	ID smallint identity NOT NULL,
	ThoiGianSuDungBan smallint NOT NULL,
	PRIMARY KEY (ID)
) ON [PRIMARY]
GO

------------------------------------------------------------
--create FK
--NHAHANG
--LOAINHANVIEN
--NHANVIEN
ALTER TABLE NHANVIEN ADD 
CONSTRAINT [FK_nhanvien_loainhanvien] 
FOREIGN KEY (MaLoaiNhanVien) 
REFERENCES LOAINHANVIEN(MaLoaiNhanVien)
GO
ALTER TABLE NHANVIEN ADD 
CONSTRAINT [FK_nhanvien_nhahang] 
FOREIGN KEY (MaNhaHang) 
REFERENCES NHAHANG(MaNhaHang)
GO
--NGUOIDUNG
ALTER TABLE NGUOIDUNG ADD 
CONSTRAINT [FK_nguoidung_nhanvien] 
FOREIGN KEY (MaNhanVien) 
REFERENCES NHANVIEN(MaNhanVien)
GO
--NHANVIEN_LOG
ALTER TABLE NHANVIEN_LOG ADD 
CONSTRAINT [FK_nhanvien_log_nhanvien] 
FOREIGN KEY (MaNhanVien) 
REFERENCES NHANVIEN(MaNhanVien)
GO
--THONGKENHAVIEN
ALTER TABLE THONGKENHANVIEN ADD 
CONSTRAINT [FK_thongkenhanvien_loainhanvien] 
FOREIGN KEY (MaLoaiNhanVien) 
REFERENCES LOAINHANVIEN(MaLoaiNhanVien)
GO
ALTER TABLE THONGKENHANVIEN ADD 
CONSTRAINT [FK_thongkenhanvien_nhahang] 
FOREIGN KEY (MaNhaHang) 
REFERENCES NHAHANG(MaNhaHang)
GO
--LICH
ALTER TABLE LICH ADD 
CONSTRAINT [FK_lich_nhanvien] 
FOREIGN KEY (MaNhanVien) 
REFERENCES NHANVIEN(MaNhanVien)
GO
--KHUVUC
ALTER TABLE KHUVUC ADD 
CONSTRAINT [FK_khuvuc_nhahang] 
FOREIGN KEY (MaNhaHang) 
REFERENCES NHAHANG(MaNhaHang)
GO
--THONGTINBAN
ALTER TABLE THONGTINBAN ADD 
CONSTRAINT [FK_thongtinban_khuvuc] 
FOREIGN KEY (MaKhuVuc) 
REFERENCES KHUVUC(MaKhuVuc)
GO
--LICHBAN
ALTER TABLE LICHBAN ADD 
CONSTRAINT [FK_lichban_thongtinban] 
FOREIGN KEY (MaBan) 
REFERENCES THONGTINBAN(MaBan)
GO
ALTER TABLE LICHBAN ADD 
CONSTRAINT [FK_lichban_buoi] 
FOREIGN KEY (MaBuoi) 
REFERENCES BUOI(MaBuoi)
GO


ALTER TABLE LICHBAN ADD 
CONSTRAINT [FK_lichban_thongtinkhachhang] 
FOREIGN KEY (MaThongTinKhachHang) 
REFERENCES THONGTINKHACHHANG(MaThongTinKhachHang)
GO
--HOADON
ALTER TABLE HOADON ADD 
CONSTRAINT [FK_hoadon_thongtinkhachhang] 
FOREIGN KEY (MaThongTinBanDat) 
REFERENCES THONGTINKHACHHANG(MaThongTinKhachHang)
GO
--CHITIETHOADON
ALTER TABLE CHITIETHOADON ADD 
CONSTRAINT [FK_chitiethoadon_hoadon] 
FOREIGN KEY (MaHoaDon) 
REFERENCES HOADON(MaHoaDon)
GO
ALTER TABLE CHITIETHOADON ADD 
CONSTRAINT [FK_chitiethoadon_chitietthucdon] 
FOREIGN KEY (MaChiTietThucDon) 
REFERENCES CHITIETTHUCDON(MaChiTietThucDon)
GO
--MONAN
--LOAIMONAN
--PHANLOAIMONAN
ALTER TABLE PHANLOAIMONAN ADD 
CONSTRAINT [FK_phanloaimonan_monan] 
FOREIGN KEY (MaMonAn) 
REFERENCES MONAN(MaMonAn)
GO
ALTER TABLE PHANLOAIMONAN ADD 
CONSTRAINT [FK_phanloaimonan_loaimonan] 
FOREIGN KEY (MaLoaiMonAn) 
REFERENCES LOAIMONAN(MaLoaiMonAn)
GO
ALTER TABLE PHANLOAIMONAN ADD 
CONSTRAINT [FK_phanloaimonan_nhahang] 
FOREIGN KEY (MaNhaHang) 
REFERENCES NHAHANG(MaNhaHang)
GO
--MONAN_NGUYENLIEU
ALTER TABLE MONAN_NGUYENLIEU ADD 
CONSTRAINT [FK_monan_nguyenlieu_nguyenlieu] 
FOREIGN KEY (MaNguyenLieu) 
REFERENCES NGUYENLIEU(MaNguyenLieu)
GO
ALTER TABLE MONAN_NGUYENLIEU ADD 
CONSTRAINT [FK_monan_nguyenlieu_monan] 
FOREIGN KEY (MaMonAn) 
REFERENCES MONAN(MaMonAn)
GO
--THONGKETHUNHAP
ALTER TABLE THONGKETHUNHAP ADD 
CONSTRAINT [FK_thongkethunhap_monan] 
FOREIGN KEY (MaMonAn) 
REFERENCES MONAN(MaMonAn)
GO
ALTER TABLE THONGKETHUNHAP ADD 
CONSTRAINT [FK_thongkethunhap_nhahang] 
FOREIGN KEY (MaNhaHang) 
REFERENCES NHAHANG(MaNhaHang)
GO
--THUCDON
ALTER TABLE THUCDON ADD 
CONSTRAINT [FK_thucdon_nhahang] 
FOREIGN KEY (MaNhaHang) 
REFERENCES NHAHANG(MaNhaHang)
GO
--CHITIETTHUCDON
ALTER TABLE CHITIETTHUCDON ADD 
CONSTRAINT [FK_chitietthucdon_thucdon] 
FOREIGN KEY (MaThucDon) 
REFERENCES THUCDON(MaThucDon)
GO
ALTER TABLE CHITIETTHUCDON ADD 
CONSTRAINT [FK_chitietthucdon_monan] 
FOREIGN KEY (MaMonAn) 
REFERENCES MONAN(MaMonAn)
GO
--KHOHANG
ALTER TABLE KHOHANG ADD 
CONSTRAINT [FK_khohang_nhahang] 
FOREIGN KEY (MaNhaHang) 
REFERENCES NHAHANG(MaNhaHang)
GO
--THONGTINHANGNHAP
ALTER TABLE THONGTINHANGNHAP ADD 
CONSTRAINT [FK_thongtinhangnhap_khohang] 
FOREIGN KEY (MaKhoHang) 
REFERENCES KHOHANG(MaKhoHang)
GO
--CHITIETHANGNHAP
ALTER TABLE CHITIETHANGNHAP ADD 
CONSTRAINT [FK_chitiethangnhap_nhacungcap] 
FOREIGN KEY (MaNhaCungCap) 
REFERENCES NHACUNGCAP(MaNhaCungCap)
GO
ALTER TABLE CHITIETHANGNHAP 
ADD CONSTRAINT [FK_chitiethangnhap_thongtinhangnhap] 
FOREIGN KEY (MaThongTinHangNhap) 
REFERENCES THONGTINHANGNHAP(MaThongTinHangNhap)
GO
ALTER TABLE CHITIETHANGNHAP ADD 
CONSTRAINT [FK_chitiethangnhap] 
FOREIGN KEY (MaNguyenLieu) 
REFERENCES NGUYENLIEU(MaNguyenLieu)
GO
--KHOHANG_NGUYENLIEU
ALTER TABLE KHOHANG_NGUYENLIEU ADD 
CONSTRAINT [FK_khohang_nguyenlieu_nguyenlieu] 
FOREIGN KEY (MaNguyenLieu) 
REFERENCES NGUYENLIEU(MaNguyenLieu)
GO
ALTER TABLE KHOHANG_NGUYENLIEU ADD 
CONSTRAINT [FK_khohang_nguyenlieu_khohang] 
FOREIGN KEY (MaKhoHang) 
REFERENCES KHOHANG(MaKhoHang)
GO
--NGUYENLIEU
--THONGKEHANGNHAP
ALTER TABLE THONGKEHANGNHAP ADD 
CONSTRAINT [FK_thongkehangnhap_nhahang] 
FOREIGN KEY (MaNhaHang) 
REFERENCES NHAHANG(MaNhaHang)
GO

ALTER TABLE THONGKEHANGNHAP ADD 
CONSTRAINT [FK_thongkehangnhap_nguyenlieu] 
FOREIGN KEY (MaNguyenLieu) 
REFERENCES NGUYENLIEU(MaNguyenLieu)
GO
--NHACUNGCAP
ALTER TABLE NHACUNGCAP 
ADD CONSTRAINT [FK_nhacungcap_thoidiemthanhtoan] 
FOREIGN KEY (MaThoiDiemThanhToan) 
REFERENCES THOIDIEMTHANHTOAN (MaThoiDiemThanhToan)
GO
ALTER TABLE NHACUNGCAP 
ADD CONSTRAINT [FK_nhacungcap_thoidiemguids] 
FOREIGN KEY (MaThoiDiemGuiDS) 
REFERENCES THOIDIEMGUIDS(MaThoiDiemGuiDS)
GO
--NHAHANG_NHACUNGCAP
ALTER TABLE NHAHANG_NHACUNGCAP ADD 
CONSTRAINT [FK_nhahang_nhacungcap_nhacungcap] 
FOREIGN KEY (MaNhaCungCap) 
REFERENCES NHACUNGCAP(MaNhaCungCap)
GO
ALTER TABLE NHAHANG_NHACUNGCAP ADD 
CONSTRAINT [FK_nhahang_nhacungcap_nhahang] 
FOREIGN KEY (MaNhaHang) 
REFERENCES NHAHANG(MaNhaHang)
GO
--NHACUNGCAP_NGUYENLIEU
ALTER TABLE NHACUNGCAP_NGUYENLIEU ADD 
CONSTRAINT [FK_nhacungcap_nguyenlieu_nhacungcap] 
FOREIGN KEY (MaNhaCungCap) 
REFERENCES NHACUNGCAP(MaNhaCungCap)
GO
ALTER TABLE NHACUNGCAP_NGUYENLIEU ADD 
CONSTRAINT [FK_nhacungcap_nguyenlieu_nguyenlieu] 
FOREIGN KEY (MaNguyenLieu) 
REFERENCES NGUYENLIEU(MaNguyenLieu)
GO
--THOIDIEMTHANHTOAN
--DINHMUCNO
ALTER TABLE DINHMUCNO ADD 
CONSTRAINT [FK_nhacungcap_dinhmucno] 
FOREIGN KEY (MaNhaCungCap) 
REFERENCES NHACUNGCAP(MaNhaCungCap)
GO
--THOIDIEMGUIDS
--QUYDINH

INSERT INTO NHAHANG (TenNhaHang, DiaChi, DienThoai) VALUES(N'H3L 1',N'325 Nguyễn Trãi Q1',N'(08)32561425')
INSERT INTO NHAHANG (TenNhaHang, DiaChi, DienThoai) VALUES(N'H3L 2',N'114 Hùng Vương Q5',N'(08)38630408')
INSERT INTO NHAHANG (TenNhaHang, DiaChi, DienThoai) VALUES(N'H3L 3',N'61 Lý Thái Tổ Q10',N'(08)32022202')
GO

INSERT INTO LOAINHANVIEN (TenLoaiNhanVien, Luong) VALUES(N'Quản lý công ty',10000)
INSERT INTO LOAINHANVIEN (TenLoaiNhanVien, Luong) VALUES(N'Quản lý nhà hàng',8000)
INSERT INTO LOAINHANVIEN (TenLoaiNhanVien, Luong) VALUES(N'Tiếp tân',4000)
GO

INSERT INTO NHANVIEN (MaLoaiNhanVien, MaNhaHang, Ho, Ten, CMND, DiaChi, DienThoai, NgayVaoLam, TinhTrang) 
VALUES(1,1,N'Nguyễn',N' Minh Anh',N'024303942',N'182 Thành Thái P12 Q10','0919901614','2012-01-14',1)	
INSERT INTO NHANVIEN (MaLoaiNhanVien, MaNhaHang, Ho, Ten, CMND, DiaChi, DienThoai, NgayVaoLam, TinhTrang) 
VALUES(2,1,N'Trần',N' Văn A',N'123456789',N'112 Thành Thái P12 Q1',N'01234567891','2012-01-14',1)
INSERT INTO NHANVIEN (MaLoaiNhanVien, MaNhaHang, Ho, Ten, CMND, DiaChi, DienThoai, NgayVaoLam, TinhTrang) 
VALUES(2,2,N'Nguyễn',N' Văn B',N'357914682',N'282 Nguyễn Tri Phương P12 Q1',N'0985632145','2012-01-14',1)	
GO

INSERT INTO NGUOIDUNG (MaNhanVien, TenDangNhap, MatKhau) VALUES (1,'qlct1','1234567;')
INSERT INTO NGUOIDUNG (MaNhanVien, TenDangNhap, MatKhau) VALUES (2,'qlnh1','1234567;')
INSERT INTO NGUOIDUNG (MaNhanVien, TenDangNhap, MatKhau) VALUES (7,'tieptan1','1234567;')
GO

INSERT INTO NHANVIEN_LOG (MaNhanVien, Ngay, Thang, Nam, TinhTrang) VALUES (7,14,3,2012,3)		      			   
INSERT INTO NHANVIEN_LOG (MaNhanVien, Ngay, Thang, Nam, TinhTrang) VALUES (8,14,2,2012,3)
INSERT INTO NHANVIEN_LOG (MaNhanVien, Ngay, Thang, Nam, TinhTrang) VALUES (9,30,3,2012,2)
GO

INSERT INTO LICH (MaNhanVien, Thu, Ca) VALUES(7,1,1)
INSERT INTO LICH (MaNhanVien, Thu, Ca) VALUES(7,2,2)
INSERT INTO LICH (MaNhanVien, Thu, Ca) VALUES(7,3,3)
GO

INSERT INTO KHOHANG (TenKhoHang, MaNhaHang) VALUES(N'Kho hang 1',1)
INSERT INTO KHOHANG (TenKhoHang, MaNhaHang) VALUES(N'Kho hang 2',2)
INSERT INTO KHOHANG (TenKhoHang, MaNhaHang) VALUES(N'Kho hang 3',3)
GO

INSERT INTO NGUYENLIEU (TenNguyenLieu, DonViTinh) VALUES(N'Nước mắm',N'Lít')
INSERT INTO NGUYENLIEU (TenNguyenLieu, DonViTinh) VALUES(N'Nước tương',N'Lít')
INSERT INTO NGUYENLIEU (TenNguyenLieu, DonViTinh) VALUES(N'Dấm',N'Lít')
GO

INSERT INTO KHOHANG_NGUYENLIEU (MaKhoHang, MaNguyenLieu, SoLuongTon, SucChua, MucChuaToiThieu) VALUES(1,1,10,15,5)
INSERT INTO KHOHANG_NGUYENLIEU (MaKhoHang, MaNguyenLieu, SoLuongTon, SucChua, MucChuaToiThieu) VALUES(1,2,10,15,5)
INSERT INTO KHOHANG_NGUYENLIEU (MaKhoHang, MaNguyenLieu, SoLuongTon, SucChua, MucChuaToiThieu) VALUES(1,3,10,15,5)
GO

INSERT INTO THOIDIEMTHANHTOAN (ThoiDiemThanhToan) VALUES(N'Theo mức nợ')
INSERT INTO THOIDIEMTHANHTOAN (ThoiDiemThanhToan) VALUES(N'Cuối ngày')
INSERT INTO THOIDIEMTHANHTOAN (ThoiDiemThanhToan) VALUES(N'Cuối tuần')
GO

INSERT INTO THOIDIEMGUIDS (TenThoiDiemGuiDS) VALUES(N'Thỏa thuận ban đầu')
INSERT INTO THOIDIEMGUIDS (TenThoiDiemGuiDS) VALUES(N'Cuối ngày')
INSERT INTO THOIDIEMGUIDS (TenThoiDiemGuiDS) VALUES(N'Cuối tuần')
GO

INSERT INTO NHACUNGCAP (TenNhaCungCap, DienThoai, SoTaiKhoan, MaThoiDiemThanhToan, MaThoiDiemGuiDS) VALUES(N'Nước mắm hảo hạn','0836525638','151142536521',1,1)
INSERT INTO NHACUNGCAP (TenNhaCungCap, DienThoai, SoTaiKhoan, MaThoiDiemThanhToan, MaThoiDiemGuiDS) VALUES(N'Vườn rau','0825362415','125324526984',2,2)
INSERT INTO NHACUNGCAP (TenNhaCungCap, DienThoai, SoTaiKhoan, MaThoiDiemThanhToan, MaThoiDiemGuiDS) VALUES(N'Thủy hải sản','0812563241','124211252365',3,3)
GO

INSERT INTO DINHMUCNO (MaNhaCungCap, GiaTriDinhMuc, NgayApDung) VALUES(1,20000,'2011-1-1')
INSERT INTO DINHMUCNO (MaNhaCungCap, GiaTriDinhMuc, NgayApDung) VALUES(1,15000,'2011-6-1')
INSERT INTO DINHMUCNO (MaNhaCungCap, GiaTriDinhMuc, NgayApDung) VALUES(1,30000,'2011-12-1')
GO

INSERT INTO NHAHANG_NHACUNGCAP (MaNhaCungCap, MaNhaHang,TinhTrang) VALUES(1,1,1)
INSERT INTO NHAHANG_NHACUNGCAP (MaNhaCungCap, MaNhaHang,TinhTrang) VALUES(2,1,1)
INSERT INTO NHAHANG_NHACUNGCAP (MaNhaCungCap, MaNhaHang,TinhTrang) VALUES(3,1,1)
GO

INSERT INTO NHACUNGCAP_NGUYENLIEU (MaNhaCungCap, MaNguyenLieu,DonGia) VALUES(1,1,20)
INSERT INTO NHACUNGCAP_NGUYENLIEU (MaNhaCungCap, MaNguyenLieu,DonGia) VALUES(2,2,20)
INSERT INTO NHACUNGCAP_NGUYENLIEU (MaNhaCungCap, MaNguyenLieu,DonGia) VALUES(3,3,20)
GO

INSERT INTO THONGTINHANGNHAP (MaKhoHang, NgayGioNhap) VALUES(1,'2012-03-31')
INSERT INTO THONGTINHANGNHAP (MaKhoHang, NgayGioNhap) VALUES(1,'2012-04-1')
INSERT INTO THONGTINHANGNHAP (MaKhoHang, NgayGioNhap) VALUES(1,'2012-04-2')
GO

INSERT INTO CHITIETHANGNHAP (MaThongTinHangNhap ,MaNhaCungCap, MaNguyenLieu, DonGia, SoLuong) VALUES(1,1,1,20,10)
INSERT INTO CHITIETHANGNHAP (MaThongTinHangNhap ,MaNhaCungCap, MaNguyenLieu, DonGia, SoLuong) VALUES(1,2,2,20,10)
INSERT INTO CHITIETHANGNHAP (MaThongTinHangNhap ,MaNhaCungCap, MaNguyenLieu, DonGia, SoLuong) VALUES(1,3,7,20,10)
GO

INSERT INTO MONAN (TenMonAn, DonGia) VALUES (N'Gà tiềm thuốc bắc',200)
INSERT INTO MONAN (TenMonAn, DonGia) VALUES (N'Bò bít tết',75)
INSERT INTO MONAN (TenMonAn, DonGia) VALUES (N'Bò nhúng dấm',60)
GO

INSERT INTO MONAN_NGUYENLIEU (MaMonAn, MaNguyenLieu, SoLuong) VALUES (1,1,05)
INSERT INTO MONAN_NGUYENLIEU (MaMonAn, MaNguyenLieu, SoLuong) VALUES (1,2,1)
INSERT INTO MONAN_NGUYENLIEU (MaMonAn, MaNguyenLieu, SoLuong) VALUES (1,3,0.5)
GO

INSERT INTO LOAIMONAN (TenLoaiMonAn) VALUES (N'Nướng')
INSERT INTO LOAIMONAN (TenLoaiMonAn) VALUES (N'Luộc')
INSERT INTO LOAIMONAN (TenLoaiMonAn) VALUES (N'Chiên')
GO

INSERT INTO PHANLOAIMONAN (MaNhaHang, MaLoaiMonAn, MaMonAn) VALUES (1,1,1)
INSERT INTO PHANLOAIMONAN (MaNhaHang, MaLoaiMonAn, MaMonAn) VALUES (1,2,2)
INSERT INTO PHANLOAIMONAN (MaNhaHang, MaLoaiMonAn, MaMonAn) VALUES (1,3,3)

GO

INSERT INTO THUCDON(MaNhaHang, NgayApDung) VALUES (1,'2012-4-1')
INSERT INTO THUCDON(MaNhaHang, NgayApDung) VALUES (2,'2012-2-1')
INSERT INTO THUCDON(MaNhaHang, NgayApDung) VALUES (3,'2012-1-5')
GO

INSERT INTO CHITIETTHUCDON(MaThucDon, MaMonAn, DonGia) VALUES (1,1,50)
INSERT INTO CHITIETTHUCDON(MaThucDon, MaMonAn, DonGia) VALUES (1,2,50)
INSERT INTO CHITIETTHUCDON(MaThucDon, MaMonAn, DonGia) VALUES (1,3,50)
GO

INSERT INTO KHUVUC (TenKhuVuc, MaNhaHang, GiaBan) VALUES (N'Trệt',1,30)
INSERT INTO KHUVUC (TenKhuVuc, MaNhaHang, GiaBan) VALUES (N'Gác lửng',1,25)
INSERT INTO KHUVUC (TenKhuVuc, MaNhaHang, GiaBan) VALUES (N'Lầu 1',1,35)
GO

INSERT INTO THONGTINBAN (TenBan, MaKhuVuc, SucChua) VALUES (N'Bàn 1',1,2)
INSERT INTO THONGTINBAN (TenBan, MaKhuVuc, SucChua) VALUES (N'Bàn 2',1,4)
INSERT INTO THONGTINBAN (TenBan, MaKhuVuc, SucChua) VALUES (N'Bàn 3',1,2)
GO

INSERT INTO THONGTINKHACHHANG (HoTen, CMND, DienThoai) VALUES (N'Đinh Văn Hưng','024152361','0919965412')
INSERT INTO THONGTINKHACHHANG (HoTen, CMND, DienThoai) VALUES (N'Võ Quang Lộc','012365214','0974854786')
INSERT INTO THONGTINKHACHHANG (HoTen, CMND, DienThoai) VALUES (N'Nguyễn Thị Huệ','0214125214','0965852145')
GO

INSERT INTO BUOI (TenBuoi) VALUES (N'Sáng')
INSERT INTO BUOI (TenBuoi) VALUES (N'Trưa')
INSERT INTO BUOI (TenBuoi) VALUES (N'Chiều')

GO
INSERT INTO LICHBAN (MaBan, NgayDatBan, MaBuoi,MaThongTinKhachHang, SoLuong, TinhTrangBan) VALUES (1,'2012-04-15',1,1,2,1)
INSERT INTO LICHBAN (MaBan, NgayDatBan, MaBuoi,MaThongTinKhachHang, SoLuong, TinhTrangBan) VALUES (1,'2012-04-16',1,2,4,0)
INSERT INTO LICHBAN (MaBan, NgayDatBan, MaBuoi,MaThongTinKhachHang, SoLuong, TinhTrangBan) VALUES (3,'2012-04-16',2,3,3,1)
GO

INSERT INTO HOADON (MaHoaDon, MaLichBan, NgayLapHoaDon, MaThongTinBanDat) VALUES ('21EC2020-3AEA-1069-A2DD-08002B30309D',1,'2012-04-15',1)
GO

INSERT INTO CHITIETHOADON (MaHoaDon, MaChiTietThucDon, DonGia, SoLuong) VALUES ('21EC2020-3AEA-1069-A2DD-08002B30309D',1,30,1)
INSERT INTO CHITIETHOADON (MaHoaDon, MaChiTietThucDon, DonGia, SoLuong) VALUES ('21EC2020-3AEA-1069-A2DD-08002B30309D',3,45,1)
GO

INSERT INTO QUIDINH (ThoiGianSuDungBan) VALUES (4)